[Desktop Entry]
Version=1.0
Name=FUCUCOIN 
Comment=FUCUCOIN P2P Cryptocurrency
Comment[fr]=FUCUCOIN, monnaie virtuelle cryptographique pair à pair
Comment[tr]=FUCUCOIN, eşten eşe kriptografik sanal para birimi
Exec=fucucoin-qt %u
Terminal=false
Type=Application
Icon=fucucoin128
MimeType=x-scheme-handler/fucucoin;
Categories=Office;Finance;
StartupWMClass=fucucoin-qt
