# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=FUCUCOIN Core Daemon SNAP
Comment=main
GenericName=FUCUCOIN Digital Currency Daemon Client main network
Exec=fucucoin-core.daemon %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/fucucoin.png
MimeType=x-scheme-handler/fucu;
Categories=X-Office;X-Finance;
Keywords=internet;fucucoin;zfucu;core;wallet;daemon;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
